.Navbar {
  display: flex;
  margin: 0;
  padding: var(--spacing-3);

  background-color: var(--colour-primary);
  justify-content: center;
  
  box-shadow: var(--box-shadow-bottom);
}

.Navbar-link {
  display: inline-block;
  color: var(--colour-light);
}
