.SelectionCardWrapper {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: var(--spacing-2);
}

.SelectionCard {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: var(--colour-light);
  width: 33.3%;
  border: 1px solid var(--colour-light);
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  min-width: 70%;
}

.SelectionCard-img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.SelectionCard-info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.SelectionCard-img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.SelectionCard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.SelectionCard-info {
  z-index: 2;
  background-color: var(--colour-light);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
 padding: 16px 24px 24px 24px;
}

.SelectionCard-category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--colour-secondary);
}

.SelectionCard-title {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.SelectionCard-by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: black;
}

.SelectionCard-author {
  font-weight: 600;
  text-decoration: none;
  color: var(--colour-tertiary);
}

.SelectionCard:hover .SelectionCard-img--hover {
  height: 100%;
  opacity: 0.3;
}

.SelectionCard:hover .SelectionCard-info {
  background-color: transparent;
  position: relative;
}

.SelectionCard:hover .SelectionCard-info-hover {
  opacity: 1;
}
