body {

  // colour scheme
  --colour-primary: #333333;
  --colour-secondary: #1a1a1a;
  --colour-tertiary: #F5B7BC;
  --colour-light: #d199cb;

  // shadow
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  // padding
  --padding-1: 1rem;
  --padding-2: 2rem;
  --padding-3: 3rem;
  --padding-small: 1%;
  --padding-medium: 3%;
  --padding-large: 5%;

  // margin
  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 3rem;
}
